Entfernen von nachfolgenden Leerräumen.xml
Farbe von arabischen diakritischen Zeichen ändern.xml
Mehrere Leerstellen in einzelne Leerstelle.xml
Mehrere Umbrüche in einzelnen Umbruch.xml
Strich in Halbgeviertstrich.xml
Telefonnummerumwandlung (Punktformat).xml